@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Patua+One&family=Shadows+Into+Light&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li,
ul,
ol {
    list-style: none;
}


/* LAYOUT */
body ::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #FFFFF1;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* overflow-y: hidden; */
}


.body-wrap {
    width: 100vmin;
    height: 550vmin;
    margin: 0 auto;
}

/* HEADER    */
header {
    width: 100vmin;
    height: 100vmin;
    /* border: 1px solid gold; */
    float: left;
    padding-left: 4rem;
    padding-top: 19vmin;
    
    border-bottom: 10px #D94E41 dashed;
    border-right: none;
}

header svg {
    width: 10vmin;
    fill: #D94E41;
    position: absolute;
    top: 15vmin;
    right: 15vmin;
}

header b {
    font-size: 5vmin;
    font-family: 'Shadows Into Light', cursive;
}

header h2 {
    font-size: 20vmin;
    line-height: 20vmin;
    font-family: 'Patua One', cursive;
    -webkit-text-stroke: 5px black;
    color: rgba(225, 1, 1, 0.0);
}

header p {
    position: absolute;
    font-size: 3vmin;
    font-family: 'Patua One', cursive;
}

/* SECTION */
section {
    float: left;
    width: 100vmin;
    height: 100vmin;
    /* border: 1px solid gold; */
}

section .website-top {
    border: 10px solid #222;
    width: 40vmin;
    height: 60vmin;
    margin: 0 auto;
    margin-top: 10vmin;
}

section .website-bot {
    text-align: center;
}

section a {
    font-size: 2.5vmin;
}

section h2 {
    font-size: 4vmin;
    font-family: 'Patua One', cursive;
}

section h3 {
    font-size: 4vmin;
    font-family: 'Nanum Pen Script', cursive;
}

/* BENS */
#bens .website-top {
    overflow: hidden;
}

#bens img {
    height: 100%;
}

/* BANNER */
#banner .website-top {
    background-color: #897ABF;
}

#banner .line {
    width: 60vmin;
    border-top: 8px solid #222;
    position: absolute;
    margin-left: -10vmin;
    margin-top: 30vmin;
}

#banner .line:first-child {
    width: 70vmin;
    margin-left: -15vmin;
    transform: rotate(-30deg);
}

/* MOBILE UI/UX */
#moblie-uiux .website-top {
    background-color: #F2E085;
}

#moblie-uiux .square {
    width: 25vmin;
    height: 25vmin;
    background-color: #222;
    position: absolute;
    margin-left: 20vmin;
    margin-top: 25vmin;
}

/* ICON.. ETC */
#etc .website-top {
    background-color: #F2B077;
}

#etc .round {
    width: 35vmin;
    height: 35vmin;
    border-radius: 50%;
    border: 8px double #222;
    position: absolute;
    margin-top: 10.5vmin;
    margin-left: 1.25vmin;
}
