* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li,
ul,
ol {
    list-style: none;
}


/* LAYOUT */
body ::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* overflow-y: hidden; */
}


.body-wrap {
    width: 3400px;
    height: 100vmin;
}

/* HEADER    */
header {
    width: 100vmin;
    height: 100%;
    border: 1px solid gold;
    float: left;
    padding-left: 1rem;
}

header b {
    margin-top: 30vh;
    font-size: 2rem;
}

header h2 {
    font-size: 9rem;
    line-height: 9rem;
}

header p {
    position: absolute;
}

/* SECTION */
section {
    float: left;
    width: 100vmin;
    height: 100vmin;
    border: 1px solid gold;
}

/* BENS */
#bens article .website-top {
    border: 1px solid gold;
    width: 40vmin;
    height: 60vmin;
    margin: 0 auto;
}

#bens article .website-bot {
    text-align: center;
}

/* BANNER */


/* ICON */