/* FOOTER CSS */
footer {
    width: 100%;
    height: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer-logo {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 9;
}

.footer-logo h2 {
    text-align: center;
    margin-top: 300px;
}

.footer-logo h2 img {
    width: 100px;
}

.footer-con {
    width: 100%;
    height: 1200px;
    background-color: #727272;
    position: absolute;
}


.footer-con-wrap {
    width: 1200px;
    height: 800px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    z-index: 99;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-con-wrap>div {
    width: 100%;
    display: block;
}

.footer-con-wrap div:nth-child(1) {
    height: 20%;
}
.footer-con-wrap div:nth-child(2){
    height: 40%;
}
.footer-con-wrap div:nth-child(3){
    height: 20%;
}
.footer-con-wrap div:nth-child(4){
    height: 20%;
}

.footer-con-1 {
    margin: 0 auto;
    padding-top: 15px;
}

.footer-con-1 ul {
    float: left;
    margin-bottom: 10px;
}

.footer-con-1 ul li {
    float: left;
    margin-right: 15px;
}

.footer-con-1>ul:last-child {
    float: right;
}


.footer-con-1 ul li a {
    color: #fff;
}

.footer-con-1 p {
    float: left;
    margin-right: 15px;
}

.footer-con-2 p {
    float: left;
    margin-bottom: 20px;
}

.footer-con-2 p {
    width: 25%;
}

.footer-con-2 p:first-child {
    width: 50%;
}


.footer-con-3 {
    display: flex;
    text-align: center;
}

.footer-con-3 ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;   
}

.footer-con-3 ul li {
    display: inline-block;
    margin-bottom: 5px;
}

.footer-con-3 button {
    width: 180px;
    height: 50px;
    background-color: rgba(225, 225, 225, 0);
    border: 3px solid #ffffff;
    color: #ffffff;
}

.footer-con-3 button:hover {
    background-color: rgba(225, 225, 225, 0.25);
}

.footer-con-4 {
    width: 729px;
    padding-top: 20px;
    background-color: #727272;
}

.footer-con-4 img {
    mix-blend-mode: screen;
}


@media screen and (max-width : 1199px) {
    .footer-con-wrap {
        width: 600px;
    }

    .footer-con-wrap div:nth-child(1) {
        height: 20%;
    }
    .footer-con-wrap div:nth-child(2){
        height: 45%;
    }
    .footer-con-wrap div:nth-child(3){
        height: 20%;
    }
    .footer-con-wrap div:nth-child(4){
        height: 15%;
    }

    .footer-con-1 ul{
        display: inline-block;
        width: 100%;
        float: none;
        text-align: center;
    }
    
    .footer-con-1 ul li {
        
        display: inline-block;
        float: none;
    }

    .footer-con-1 p {
        display: inline-block;
        float: none;
    }

    .footer-con-2 p {
        width: 50%;
    }
    
    .footer-con-2 p:first-child {
        margin-bottom: 70px;
        width: 100%;
    }

    .footer-con-4 img {
        width: 100%;
        padding-top: 25px;
    }
}

@media screen and (max-width : 767px) { 
    
}


@media screen and (max-width : 599px) { 
    .footer-con-wrap {
        width: 100%;
        font-size: 14px;
    }

    .footer-con-3 button {
        width: 137px;
        height: 37px;
    }
}