/* MAIN CSS */

/* VISUAL */
.visual {
    position: relative;
    width: 100%;
    height: 1300px;
}

header {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background-color: #ffffff;
    /* border: 1px solid black; */
    position: relative;
}

header h1.logo {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.visual-back {
    width: 100%;
    height: 950px;
    background-color: #222222;
    transform: skewY(-7deg);
    position: absolute;
}

.visual .sa-slider {
    width: 1200px;
    height: 750px;
    position: absolute;
    background-color: #ffffff;
    /* border: 1px solid black; */
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.visual .sa-slider ul {
    width: 300%;
    height: 100%;
}

.visual .sa-slider li {
    width: 33.33%;
    float: left;
    /* border: 3px solid darkmagenta; */
}

.visual .sa-slider li img {
    width: 1200px;
}

.visual .control_prev {
    position: absolute;
    top: 50%;
    font-size: 20px;
    color: #222222;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.visual .control_next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 20px;
    color: #222222;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6px;
}

.visual .slider_option {
    position: relative;
    display: block;
    width: 100%;
    top: 750px;
    color: #fff;
    text-align: center;
}


/* section h3 */
section {
    margin: 120px auto 60px;
}

.visual {
    margin-top: 0;
}

h3 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

/* img information tag */
.price p {
    font-family: 'Noto Sans KR', sans-serif;
}

.price span {
    font-family: 'Hind Vadodara', sans-serif;
}

.price i {
    text-decoration: line-through;
}

.right-side {
    text-align: right;
}

.left-side {
    text-align: left;
}

/* PART1 : BEST ITEM , WEEKLY BEST */
/* contents */
.best-section {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}


.best-item,
.weekly-best {
    width: 500px;
    height: 750px;
    float: left;
    margin-top: 100px;
    overflow: hidden;
}

.weekly-best {
    float: right;
}

.best-item-wrap {
    width: 500%;
    height: 640px;
}

.best-item-con,
.weekly-best-con {
    width: 20%;
    height: 635px;
    margin: 0 auto;
    position: relative;
    float: left;
}

/* headline name */
.best-section h4 {
    font-size: 100px;
    display: block;
    position: absolute;
    z-index: 9;
    width: 650px;
    text-align: center;
    font-family: 'Times Newer Roman', 'Times New Roman', Times, serif;
    color: #999999;
    mix-blend-mode: exclusion;
    opacity: 70%;
}

.best-item-con h4 {
    transform: rotate(270deg);
    left: -260px;
    top: 150px;
}

.weekly-best-con h4 {
    transform: rotate(90deg);
    left: 110px;
    top: 250px;
}

/* price */
.best-section .price {
    width: 330px;
    height: 150px;
}

.best-item-con .price {
    position: absolute;
    top: 450px;
    left: 100px;
}

.weekly-best-con .price {
    position: absolute;
    top: 50px;
    margin-left: 60px;
}

/* image */
.best-item-img {
    width: 419px;
    position: absolute;
    top: 0;
    right: 0;
}

.weekly-best-img {
    width: 419px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.best-section img {
    width: 100%;
}

/* dot */
.best-round, .weekly-round {
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.best-section .round {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #727272;
    opacity: 50%;
    float: left;
    margin-left: 5px;
}

.best-section .round.long {
    width: 60px;
    border-radius: 20px;
}

.best-section h3 {
    margin-bottom: 0;
}



/* PART2 : BENS PEOPLE */
.bens-people {
    width: 1200px;
    height: 600px;
}

.bens-people .people-img li {
    width: 200px;
    height: 480px;
    overflow: hidden;
    float: left;
}

.bens-people .people-img li img {
    margin-left: 50%;
    transform: translateX(-50%);
}

/* PART3 : NEW ARRIVAL */
.new {
    width: 100%;
    height: 1100px;
}

.new-con {
    width: 100%;
    height: 980px;
    position: relative;
    overflow: hidden;
}

.new-con-wrap {
    width: 2820px;
    height: 100%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    pointer-events: none;
}

.empty-item {
    width: 10%;
    height: 100%;
}

.new-item {
    width: 725px;
    height: 500px;
}

.new-up {
    position: absolute;
    top: 0;
}

.new-down {
    position: absolute;
    bottom: 0;

}

.new-item-img {
    float: left;
    width: 500px;
    height: 500px;
    margin-right: 10px;
}

.new-item-img img {
    width: 100%;
}

.new-item-side {
    width: 210px;
    float: left;
}

.new-item:nth-child(odd) .new-item-side {
    margin-top: 50px;
}

.new-item:nth-child(even) .new-item-side {
    margin-top: 230px;
}

.new-item h4 {
    width: 210px;
    float: left;
    font-size: 32px;
    font-family: 'Times Newer Roman', 'Times New Roman', Times, serif;
    color: #000;
    mix-blend-mode: exclusion;
    opacity: 75%;
}



.new-item .price {
    width: 210px;
    height: 180px;
    float: left;
    margin-top: 10px;
}

/* PART4 : BENS VR SHOWROOM */
.showroom {
    width: 100%;
    height: 250px;
    position: relative;
}

.showroom-back {
    width: 100%;
    height: 250px;
    transform: skewY(7deg);
    position: absolute;
    overflow: hidden;
}

.showroom-back .showroom-video {
    transform: skewY(-7deg) translateY(-40%);
    display: flex;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.7);

}

.showroom-video video {
    mix-blend-mode: multiply;
}

.showroom-con {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 9;
    text-align: center;
}

.showroom-con h3 {
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 40px;
}

.showroom-con button {
    padding: 10px 60px;
    background-color: rgba(225, 225, 225, 0);
    border: 3px solid #ffffff;
    color: #ffffff;
}

.showroom-con button:hover {
    background-color: rgba(225, 225, 225, 0.25);
}

/* PART5 : RECOMMENDATIONS */
.recommend {
    width: 1200px;
    height: 1700px;
    /* border: 1px solid red; */
}

.recommend-con {
    width: 1080px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-content: space-around;    */
    /* flex-basis: auto; */
    margin: 0 auto;
    /* background-color: khaki; */
}

.recommend-item {
    flex: 50% 1.5 0;
    height: 500px;
    margin-bottom: 25px;
}

.recommend-item-img {
    width: 500px;
    margin: 0 auto;
}

.recommend-item-img img {
    width: 100%;
}

.recommend-item .price {
    display: none;
    padding: 15px;
}

.recommend-item:hover {
    position:relative;
}

.recommend-item:hover .price {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.75);
    color: #fff;
    /* position: fixed; */
}

/* PART6 : ZETA MOTION DESK */
.zeta {
    width: 1000px;
    height: 770px;
    /* border: 1px solid red; */
    position: relative;
}

.zeta h2 {
    width: 300px;
    font-size: 100px;
    position: absolute;
    z-index: 9;
    color: rgba(227, 166, 132);
    mix-blend-mode: multiply;
    text-align: right;
    font-family: 'Times Newer Roman', Times, serif;
}

.zeta .price {
    position: absolute;
    z-index: 9;
    bottom: 200px;
    left: 40px;
}

.zeta-img {
    width: 650px;
    height: 650px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 110px;
}

.zeta-img img {
    width: 100%;
}

.orange {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 9;
    background-color: rgba(227, 166, 132, 0.5);
    mix-blend-mode: multiply;
    bottom: 10px;
    right: 15px;
}

/* PART7 : BEST PHOTHO REVIEW */
.review {
    width: 1200px;
    height: 790px;  
}

.review-con {
    display:flex;
    justify-content:space-around;
}

.review-section {
    float: left;
    width: 350px;
    height: 680px;
    border: 1px solid #727272;
    border-radius: 20px;
    padding: 10px;
}

.review .round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #727272;
    opacity: 50%;
    float: left;
    margin-left: 5px;
}

.review-con-top p {
    text-align: right;
    margin-top: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.review-con-img img {
    width: 348px;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-con-bot {
    width: 275px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.review-con-bot {
    text-align: center;
}

.review-con-bot p {
    margin-top: 15px;
}


/* PART8 : MEDIA LOUNGE */
.media {
    width: 100%;
    height: 610px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    z-index: 19;
}

.media-back {
    width: 100%;
    height: 950px;
    background-color: #222222;
    transform: skewY(7deg);
    position: absolute;
    z-index: 9;
    margin-top: 200px;
}

.media-con {
    position: relative;
    /* z-index: 9; */
    width: 100%;
    height: 500px;
    /* margin-left: 20%; */
    /* border: 1px solid burlywood; */
    overflow: hidden;
}

.media-con-wrap {
    width: 2700px;
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    pointer-events: none;
    /* border: 1px solid burlywood; */
}



.media-paper {
    width: 350px;
    height: 470px;
    overflow: hidden;
    float: left;
    /* border: 1px solid burlywood; */
}

.media-paper img {
    width: 100%;
}



/* 반응형 Tablet */
@media screen and (max-width : 1199px) {
    header {
        width: 100%;
    }

    /* VISUAL */
    .visual .sa-slider {
        width: 100%;
    }

    .visual .sa-slider li img {
        width: 1200px;
        height: 750px;  
        /* object-fit: cover; */
    }

    /* PART1 : BEST ITEM , WEEKLY BEST */
    .best-section {
        width: 100%;
        height: 1800px;
    }

    .best-item,
    .weekly-best {
        float: none;
        margin: 100px auto 0;
    }

    /* PART2 : BENS PEOPLE */
    .bens-people {
        width: 100%;
        height: 1100px;
    }

    .bens-people .people-img li {
        width: 33.33%;
        overflow: hidden;
        float: left;
    }

    /* PART3 : NEW ARRIVAL */
    .new {
        width: 100%;
        height: 700px;

    }
    
    .new-con {
        width: 100%;
        height: 550px;
    }

    .new-con-wrap {
        width: 2500px;
    }
    
    .new-item {
        width: 530px;
        height: 280px;
    }
    
    .new-item-img {
        width: 280px;
    }

    .new-item:nth-child(odd) .new-item-side {
        margin-top: 10px;
    }
    
    .new-item:nth-child(even) .new-item-side {
        margin-top: 40px;
    }

    

    /* PART5 : RECOMMENDATIONS */
    .recommend {
        width: 100%;
    }

    .recommend-con {
        width: 100%;
    }

    .recommend-item-img {
        /* width: 100%; */
        width: 400px;
        overflow: hidden;
    }

    /* PART7 : BEST PHOTHO REVIEW */
    .review {
        width: 100%;
    }


    /* PART8 : MEDIA LOUNGE */
    .media-back {
        height: 700px;
    }

    .media-paper {
        width: 300px;
        height: 410px;
    }

    .media-con-wrap {
        width: 1900px;
    }

}

@media screen and (max-width : 999px) {

    /* PART6 : ZETA MOTION DESK */
    .zeta {
        width: 100%;
        overflow: hidden;
    }

    .zeta h2 {
        width: 33.33%;
        left: 10px;
        font-size: 90px;
    }

    .zeta-img {
        right: -50px;
    }

    .zeta .orange {
        right: -50px;
    }
}

@media screen and (max-width : 1064px) {
    .review {
        height: 1600px;
    }

    .review-con {
        height: 1500px;
        flex-wrap: wrap;
    }

    .review-section {
        margin: 25px;
        
        /* margin: 50px auto 0 !important; */
    }
}

@media screen and (max-width : 1035px) {
    header {
        width: 100%;
    }

    header h1.logo {
        display: none;
    }
}

@media screen and (max-width : 890px) {
    .recommend-item-img {
        /* width: 100%; */
        width: 300px;
        overflow: hidden;
    }

    .recommend-item .price {
        display: block;
    }

    .recommend-item:hover .price {
        bottom:auto;
    }
}

/* 반응형 Mobile */

@media screen and (max-width : 819px) {
    .review {
        height: 2300px;
    }

    .review-con {
        height: 2200px;
        /* height: 1500px; */
    }
}
@media screen and (max-width : 767px) {

    /* PART6 : ZETA MOTION DESK */
    .zeta h2 {
        text-align: right;
        left: 0;
        width: 100%;
        font-size: 75px;
    }

    .zeta .price {
        bottom: 15px;
        left: 30px;
    }

    /* PART8 : MEDIA LOUNGE */
    .media-back {
        height: 600px;
    }

    .media-paper {
        width: 250px;
        height: 340px;
    }
}


@media screen and (max-width : 620px) {
    .recommend-item-img {
        width: 100%;
    }
}

@media screen and (max-width : 501px) {

    .best-item,
    .weekly-best {
        width: 100%;
        height: auto;
    }

    .best-item-con,
    .weekly-best-con {
        /* width: 100%; */
        margin: 0;
        height: auto;
    }

    .best-section h4 {
        transform: rotate(0deg);
        /* width: 100%; */
        top: 0;
        left: 0;
        font-size: 50px;
        text-align: left;
        padding-left: 15px;
        position: unset;
        display: inline-block;
    }

    .best-section .price {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        display: inline-block;
        margin: 0 auto;
        /* width: 100%; */
        position: unset;
        display: inline-block;
        padding: 0px 10px;
        margin-bottom: 20px;
    }

    .best-item-img,
    .weekly-best-img {
        position: unset;
        display: inline-block;
    }
}

@media screen and (max-width : 480px) {

    .best-item,
    .weekly-best {
        width: 100%;
    }

    .recommend {
        height: 1350px;
    }

    .recommend-item {
        height: 400px;
    }

    .recommend-item .price {
        font-size: 15px;
        padding: 5px;
    }
}

@media screen and (max-width : 435px) {

    .best-item-img,
    .weekly-best-img {
        width: 100%;
    }

    .best-section img {
        width: 100%;
    }

    
}